<div class="modal fade" id="codigo-retencion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Seleccione el C&oacute;digo de Retenci&oacute;n</h4>
            </div>

            <div class="modal-body">
                <div class="dataTable_wrapper table-responsive">  
                    <table class="table table-bordered table-hover " id="codigo-retencion-table">
                        <thead>
                            <tr>
                                <th style="width: 10%" >Tipo</th>
                                <th style="width: 10%" >C&oacute;digo</th>
                                <th style="width: 10%" >% Retenci&oacute;n</th>                   
                                <th>Descripci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IVA</td>
                                <td class="codigo">9</td>
                                <td class="porcentaje" >10</td>
                                <td>Retención IVA 10%</td>
                            </tr>
                            <tr>
                                <td>IVA</td>
                                <td class="codigo">10</td>
                                <td class="porcentaje" >20</td>
                                <td>Retención IVA 20%</td>
                            </tr>
                            <tr>
                                <td>IVA</td>
                                <td class="codigo">1</td>
                                <td class="porcentaje" >30</td>
                                <td>Retención IVA 30%</td>
                            </tr>
                            <tr>
                                <td>IVA</td>
                                <td class="codigo">11</td>
                                <td class="porcentaje" >50</td>
                                <td>Retención IVA 50%</td>
                            </tr>
                            <tr>
                                <td>IVA</td>
                                <td class="codigo">2</td>
                                <td class="porcentaje" >70</td>
                                <td>Retención IVA 70%</td>
                            </tr>
                            <tr>
                                <td>IVA</td>
                                <td class="codigo">3</td>
                                <td class="porcentaje" >100</td>
                                <td>Retención IVA 100%</td>
                            </tr>
                            <tr>
                                <td>Renta</td>
                                <td class="codigo">303</td>
                                <td class="porcentaje" >10</td>
                                <td>Honorarios profesionales y demás pagos por servicios relacionados con el título profesional</td>
                            </tr>
                            <tr>
                                <td>Renta</td>
                                <td class="codigo">304</td>
                                <td class="porcentaje">8</td>
                                <td>Servicios predomina el intelecto no relacionados con el título profesional</td>
                            </tr>
                            <tr>
                                <td>Renta</td>
                                <td class="codigo">304A</td>
                                <td class="porcentaje">8</td>
                                <td>Comisiones y demás pagos por servicios predomina intelecto no relacionados con el título profesional</td>
                            </tr>
                            <tr>
                                <td>Renta</td>
                                <td class="codigo">304B</td>
                                <td class="porcentaje">8</td>
                                <td>Pagos a notarios y registradores de la propiedad y mercantil por sus actividades ejercidas como tales</td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
