<div id="errorScript" style="text-align: center">
    <img src="{{asset('recursos/img/no_javascript.gif')}}" alt="Javascript" />
    <h1>Upsssss!!!</h1>
    <h3>Se requiere JavaScript para el correcto funcionamiento</h3>
    <strong>*&nbsp;Este explorador web no admite JavaScript o se encuentra deshabilitado.</strong>
</div>